html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

body {
  display: none;
}

h3, p {
  font-weight: 200;
}

h1 {
  font-size: 200px;
  font-weight: 100;
}

#canvas {
  position:fixed;
  top:0;
  left: 0;
  z-index: -1;
}

#city {
  margin: 45px 0px 10px;
}

#icon {
  font-size: 170px;
  margin-bottom: 70px;
}

#feels-like {
  position: relative;
  margin-bottom: 40px;
  margin-top: 15px;
}

#temperature {
  margin-top: -70px;
  margin-bottom: -56px;
}

#temperature-units {
  margin-top: -80px;
  margin-bottom: 38px;
  color: lightgray;
}

#temperature-units:hover {
  cursor: pointer;
}

#temperature-units.night-color {
  color: #484646;
}

#fahrenheit {
  position: relative;
  z-index: 1;
}

.day-color {
  color: black;
}

.night-color {
  color: white;
}

.alt-temperature {
  color: lightgray;
}

.alt-temperature.night-color {
  color: #484646;
}

.row {
  margin-top: 40px;
}

#right-box p {
  line-height: 1.5;
}

#center-box {
  margin-bottom: -50px;
}

#conditions-box {
  text-align:left;
  display:inline-block;
}