h3, p {
  font-weight: 200;
}

#city, #icon {
  margin: 45px 0px 20px;
}

#icon {
  font-size: 120px;
}

#temperature {
  font-size: 150px;
  font-weight: 100;
  margin-top: -40px;
}

#alt-temperature {
  color: lightgray;
}

#alt-temperature:hover {
  color: black;
  cursor: pointer;
}

#feels-like {
  position: relative;
  top: -74px;
  left: 10px;
  margin-bottom: 30px;
}

#headline-temperature-unit {
  position: relative;
  top: -180px;
  left: 180px;
}

#conditions {
  margin: 5px 0px 30px;
}

.row {
  margin-top: 40px;
}

#left-box {
  margin-top: -35px;
  position: relative;
  right: -10px;
}

#right-box {
  position: relative;
  left: 60px;
}

#right-box p {
  line-height: 2.14;
}

#center-box {
  margin-bottom: -50px;
}